{% comment %}
  Group matchups by matchup_id and display in a table
{% endcomment %}

{% comment %} First, find all unique matchup_ids using string concatenation {% endcomment %}
{% assign unique_matchup_ids_string = '' %}
{% for entry in IDX_0.data %}
  {% assign matchup_id = entry.matchup_id | append: '' %}

  {% comment %} Skip empty matchup_ids {% endcomment %}
  {% if matchup_id != '' %}
    {% comment %} Check if this matchup_id is already in our string {% endcomment %}
    {% assign matchup_id_with_comma = ',' | append: matchup_id | append: ',' %}
    {% assign string_with_commas = ',' | append: unique_matchup_ids_string | append: ',' %}
    {% unless string_with_commas contains matchup_id_with_comma %}
      {% if unique_matchup_ids_string != '' %}
        {% assign unique_matchup_ids_string = unique_matchup_ids_string | append: ',' %}
      {% endif %}
      {% assign unique_matchup_ids_string = unique_matchup_ids_string | append: matchup_id %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% comment %} Convert string back to array {% endcomment %}
{% assign unique_matchup_ids = unique_matchup_ids_string | split: ',' %}

{% capture week_from_api %}{{ IDX_3.display_week }}{% endcapture %}

{% comment %} ------------------------------------------------------------------- {% endcomment %}

{% template entry_item %}

{% assign team1_roster_id = team1_entry.roster_id %}

{% comment %} Find team1 owner_id from roster_id in IDX_1 {% endcomment %}
{% assign team1_owner_id = '' %}
{% for roster_entry in IDX_1.data %}
  {% if roster_entry.roster_id == team1_roster_id %}
    {% assign team1_owner_id = roster_entry.owner_id %}
    {% break %}
  {% endif %}
{% endfor %}

{% comment %} Find team1 user info from owner_id in IDX_2 {% endcomment %}
{% assign team1_display_name = '' %}
{% assign team1_team_name = '' %}
{% for user_entry in IDX_2.data %}
  {% if user_entry.user_id == team1_owner_id %}
    {% assign team1_display_name = user_entry.display_name %}
    {% assign team1_team_name = user_entry.metadata.team_name %}
    {% break %}
  {% endif %}
{% endfor %}

{% comment %} Get team2 data {% endcomment %}
{% assign team2_roster_id = team2_entry.roster_id %}

{% comment %} Find team2 owner_id from roster_id in IDX_1 {% endcomment %}
{% assign team2_owner_id = '' %}
{% for roster_entry in IDX_1.data %}
  {% if roster_entry.roster_id == team2_roster_id %}
    {% assign team2_owner_id = roster_entry.owner_id %}
    {% break %}
  {% endif %}
{% endfor %}

{% comment %} Find team2 user info from owner_id in IDX_2 {% endcomment %}
{% assign team2_display_name = '' %}
{% assign team2_team_name = '' %}
{% for user_entry in IDX_2.data %}
  {% if user_entry.user_id == team2_owner_id %}
    {% assign team2_display_name = user_entry.display_name %}
    {% assign team2_team_name = user_entry.metadata.team_name %}
    {% break %}
  {% endif %}
{% endfor %}

{% if condensed == true %}
  {% assign truncate_chars = 13 %}
{% else %}
  {% assign truncate_chars = 18 %}
{% endif %}

<tr>
  <td>
    {% if team1_team_name == null %}
      <span class="label"> {{ 'Team ' | append: team1_display_name | truncate: truncate_chars }}</span>
    {% else %}
      <span class="label">{{ team1_team_name | truncate: truncate_chars }}</span>
    {% endif %}
  </td>
  {% if condensed == false %}
    <td>
      <span class="label">{{ team1_display_name | truncate: truncate_chars }}</span>
    </td>
  {% endif %}
  <td>
    <span
      class="label {% if team1_entry.points > team2_entry.points %}label--outline {% endif %}"
      style="text-align: center;"
    >
      {{ team1_entry.points }}
    </span>
  </td>
  <td></td>
  <td>
    {% if team2_team_name == null %}
      <span class="label"> {{ 'Team ' | append: team2_display_name | truncate: truncate_chars }}</span>
    {% else %}
      <span class="label">{{ team2_team_name | truncate: truncate_chars }}</span>
    {% endif %}
  </td>
  {% if condensed == false %}
    <td>
      <span class="label">{{ team2_display_name | truncate: truncate_chars }}</span>
    </td>
  {% endif %}
  <td>
    <span
      class="label {% if team1_entry.points < team2_entry.points %}label--outline {% endif %}"
      style="text-align: center;"
    >
      {{ team2_entry.points -}}
    </span>
  </td>
</tr>

{% endtemplate %}

{% comment %} ------------------------------------------------------------------- {% endcomment %}

{% if week_from_api != trmnl.plugin_settings.custom_fields_values.week
  and trmnl.plugin_settings.custom_fields_values.reminder == 'yes'
%}
  <span class="title text--center">
    Week {{ week_from_api }} has started, please update the week in plugin settings.
  </span>
{% endif %}

{%- capture plugin_icon %}
<svg class="w-64 h-64" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. --><path d="M247.5 25.4c-13.5 3.3-26.4 7.2-38.6 11.7C142.9 61.6 96.7 103.6 66 153.6C47.8 183.4 35.1 215.9 26.9 249L264.5 486.6c13.5-3.3 26.4-7.2 38.6-11.7c66-24.5 112.2-66.5 142.9-116.5c18.3-29.8 30.9-62.3 39.1-95.3L247.5 25.4zM495.2 205.3c6.1-56.8 1.4-112.2-7.7-156.4c-2.7-12.9-13-22.9-26.1-25.1c-58.2-9.7-109.9-12-155.6-7.9L495.2 205.3zM206.1 496L16.8 306.7c-6.1 56.8-1.4 112.2 7.7 156.4c2.7 12.9 13 22.9 26.1 25.1c58.2 9.7 109.9 12 155.6 7.9zm54.6-331.3c6.2-6.2 16.4-6.2 22.6 0l64 64c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0l-64-64c-6.2-6.2-6.2-16.4 0-22.6zm-48 48c6.2-6.2 16.4-6.2 22.6 0l64 64c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0l-64-64c-6.2-6.2-6.2-16.4 0-22.6zm-48 48c6.2-6.2 16.4-6.2 22.6 0l64 64c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0l-64-64c-6.2-6.2-6.2-16.4 0-22.6z"></path></svg>
{% endcapture %}

{%- capture trophy_icon -%}
  <svg class="w-64 h-64" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
    <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935M3.504 1q.01.775.056 1.469c.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.5.5 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667q.045-.694.056-1.469z"></path>
  </svg>
{% endcapture %}
